## Simple query questions

In this notebook, we list simple queries for reference

> Use the "configuration" file to initialise the environment.

1. __Creating Tables__

In [ ]:
%%sql

DROP TABLE IF EXISTS nyc_subway_stations;
CREATE TABLE nyc_subway_stations AS
SELECT * FROM 'https://storage.googleapis.com/qm2/CASA0025/nyc_subway_stations.tsv';

2. __Column Selecting__

In [ ]:
%%sql

SELECT ID, NAME, BOROUGH 
FROM nyc_subway_stations;

3. __Row Selecting__

In [ ]:
%%sql

SELECT * 
FROM nyc_subway_stations 
WHERE BOROUGH = 'Manhattan';

4. __Sorting__

In [ ]:
%%sql

SELECT NAME 
FROM nyc_subway_stations 
ORDER BY NAME;

5. __Unique Values__

In [ ]:
%%sql

SELECT DISTINCT BOROUGH 
FROM nyc_subway_stations;

6. __Counting Rows__

In [ ]:
%%sql

SELECT BOROUGH, COUNT(*) 
FROM nyc_subway_stations 
GROUP BY BOROUGH;

7. __Aggregation__

`WHERE`: 
- Use _before_ `GROUP BY`
- Filters out unqualified "individuals"

`HAVING`: 
- Use _after_ `GROUP BY` - filter
- Filters out "groups" that don't meet the standard

In [ ]:
%%sql

SELECT BOROUGH, COUNT(*) 
FROM nyc_subway_stations 
GROUP BY BOROUGH 
ORDER BY COUNT(*) DESC;

In [ ]:
%%sql

SELECT neighbourhood_group
FROM listings
WHERE price < 100  
GROUP BY neighbourhood_group;

In [ ]:
%%sql

SELECT neighbourhood_group, AVG(price) AS avg_price
FROM listings
GROUP BY neighbourhood_group
HAVING avg_price > 200;                  -- drop groups with low average after average calculation

In [ ]:
%%sql
SELECT 
    neighbourhood, 
    AVG(review_scores_rating) AS avg_score
FROM listings
WHERE neighbourhood_group = 'Manhattan'  -- 1. filter "individuals" in Manhattan
GROUP BY neighbourhood                   -- 2. separate properties by neighbourhood
HAVING avg_score > 4.5                   -- 3. filter again after calculation
ORDER BY avg_score DESC;                 -- 4. order

8. __Joining Tables__

In [ ]:
%%sql

SELECT
    nyc_subway_stations.NAME AS stations,
    nyc_neighborhoods.NAME AS neighbourname,
FROM
    nyc_subway_stations
JOIN
    nyc_neighborhoods
ON
    nyc_subway_stations.BOROUGH = nyc_neighborhoods.BORONAME;

9. __String Detection__

In [ ]:
%%sql

SELECT NAME 
FROM nyc_subway_stations 
WHERE NAME LIKE '%St%';

In [ ]:
%%sql

SELECT NAME 
FROM nyc_subway_stations 
WHERE ROUTES LIKE '%R%' AND BOROUGH = 'Brooklyn';